<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<widget id="com.example.cordova-angular-ngcordova-ionic" version="0.0.5" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
  <name>cordova-angular-ngcordova-ionic</name>
  <description/>
  <author email="me@jozzhart.com" href="http://jozzhart.com">
      Jozz Hart
  </author>
  <content src="index.html"/>
  <access origin="*"/>
</widget>